@model Auctions.Models.AuctionViewModel

<h1>New Auction</h1>
<a href = "/allAuctions">Home</a>
<a href = "/logout">Logout</a>

<form asp-controller="Auction" asp-action="NewAuction" method="POST">
        
        <span asp-validation-for="Product"></span><br>
        <label asp-for="Product"></label><br>
        <input asp-for="Product"><br>
        <br>

        <span asp-validation-for="Description"></span><br>
        <label asp-for="Description"></label><br>
        <textarea asp-for="Description" rows=6 cols=40></textarea><br>
        <br>

        <span asp-validation-for="StartingBid"></span><br>
        <label asp-for="StartingBid"></label><br>
        <input asp-for="StartingBid"><br>
        <br>

        <span asp-validation-for="EndDate"></span><br>
        <label asp-for="EndDate"></label><br>
        <input asp-for="EndDate"><br>
        <br>

        <input type='submit' value = 'Create Auction'>
</form>

